<ul class="nav pull-right">   
    <li>
      <div id="user_nav">
        <% if user_signed_in? %>
            <div class="dropdown">
    	        <a href="#" class="dropdown-toggle btn" data-toggle="dropdown"><%= current_user.email %> <b class="caret"></b></a>
    	        <ul class="dropdown-menu">
    	          <li><a href="#">Another action</a></li>
    	          <li><%= link_to('Edit account', edit_user_registration_path) %></li>
    	          <li class="divider"></li>
    	           <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
    	        </ul>
    	     </div>
        <% else %>
        <%= link_to new_user_registration_path do %>
        	<button class="btn">Sign Up</button>
        <% end %>
        <%= link_to new_user_session_path do %>
        	<button class="btn">Login</button>
        <% end %>
        <% end %>
      </div>
    </li> 
  </ul>