<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
 <head>
  	<meta charset="utf-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
     
	<!-- SEO CHANGE -->
	<title><%= content_for?(:title) ? yield(:title) : "Compact" %></title>
	<meta name="description" content="">
	<meta name="author" content="">
  	<meta name="keywords" content="" />
	
	<meta property="og:image" content="<%= content_for?(:fbimage) ? yield(:fbimage) : 'http://placehold.it/50x50' %>"/>
	<meta property="og:title" content="<%= content_for?(:fbtitle) ? yield(:fbtitle) : 'Compact' %>"/>
	<meta property="og:url" content="<%= content_for?(:fburl) ? yield(:fburl) : 'Compact' %>"/>
	<meta property="og:site_name" content=""/>
	<meta property="og:type" content=""/>

	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://placehold.it/144x144">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://placehold.it/114x114">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://placehold.it/72x72">
    <link rel="apple-touch-icon-precomposed" href="http://placehold.it/50x50">
	
	<%= stylesheet_link_tag    "application", :media => "all" %>
  	<%= csrf_meta_tags %>
    <%= yield(:head) %>
 </head>

 <body>
  <!--[if lt IE 7]>
  	<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
  <![endif]-->
  	<header class="navbar navbar-inverse navbar-fixed-top">
      <nav class="navbar-inner">
        <div class="container">
          <%= render 'layouts/navigation' %>
        </div>
      </nav>
    </header>

     <div id="main" role="main">
      <div class="container">
        <div class="content">
           <div class="row">
            <div class="span12">
              <%= render 'layouts/messages' %>
              <%= yield %>
            </div>
          </div>
          <footer>
          	<%= render 'layouts/footer' %>
			<br /><%= debug(params) if Rails.env.development? %>
          </footer>
        </div>
      </div> <!--! end of .container -->
    </div> <!--! end of #main -->


	<%= javascript_include_tag "application" %>
	<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
	<script>
	    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
	    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
	    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
	    s.parentNode.insertBefore(g,s)}(document,'script'));
	</script>
 </body>
</html>